<div class="container">
  <div class="playground">
    <div class="row">
      <form action="/playground" enctype="multipart/form-data" method="post">
        <input type="file" name="upload" multiple>
        <!-- <input type="submit" value="Upload"> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Upload</button>
      </form>
    </div>
  </div>
  <div class="row">
    <input id="save" type="button" value="Save" />
    <input id="run" type="button" value="Run" />
    </nav>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a>HTML</a>
      <textarea class="form-control" rows="5" id="userHTML"></textarea>
    </div>
    <div class="col-md-4">
      <a>CSS</a>
      <textarea class="form-control" rows="5" id="userCSS"></textarea>
    </div>
    <div class="col-md-4">
      <a>JS</a>
      <textarea class="form-control" rows="5" id="userJS"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a>Result</a>
      <iframe class="form-control" rows="10" id="result"></iframe>
    </div>
  </div>
</div>
